body {
  background-color: rgb(210,230,255);
  font-family: 'Source Sans Pro', sans-serif;
  color:rgb(20,20,20);
}
h1 {
  text-align:center;
  text-shadow: -1px 1px silver;
}
#main {
  background-color:rgb(250,250,250);
  padding:20px;
  border:50px;
  border-radius:20px;
  margin:5%;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  overflow:hidden;
}
#content {
  float:left;
}
#graph {
  float:right;
}
